@model IEnumerable<MVCAppDay4Demo.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <a asp-action="Create" class="btn btn-primary">Create </a>
    <a asp-action="Gallery" class="btn btn-success"> Gallery</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image) *@
                @* <img src="@item.Image" alt="@item.Name" /> *@
                @* <img src="@Url.Content("~/images/products/" + item.Image + ".jpg")" alt="@item.Name" width="50" /> *@
                    <img src="@Url.Content("~/images/products/" + (item.Image ==""?"default.jpg":item.Image))" alt="@item.Name" width="50" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Card" asp-route-id="@item.Id">Card</a>|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
